<a href="https://colab.research.google.com/github/Bonilapa/BCR2022/blob/main/22bf72e5df04419a890d30e2638e3582.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/Bonilapa/human.git

Cloning into 'human'...
remote: Enumerating objects: 20, done.
remote: Counting objects: 100% (20/20), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 20 (delta 5), reused 15 (delta 3), pack-reused 0
Receiving objects: 100% (20/20), done.
Resolving deltas: 100% (5/5), done.

Создайте словарь, cоответствующий следующему описанию:

В честь 8 марта начальник отдела Валера решил принести на работу коробку конфет и угостить коллег :) Красотка Наташа съела две конфеты, ее подруга Алина - целых три, разработчик Марат унес с собой в соседний опен-спейс целых пятнадцать, чтобы поделиться со своей командой, менеджер проекта Лев проходил мимо и съел одну конфету, а сам Валера, будучи сторонником здорового образа жизни, ни съел ни одной.

In [5]:
!

In [6]:
!pwd

/content

In [ ]:

dict_sample = {'Наташа': 2, 'Алина': 3, 'Марат': 15, 'Лев': 1, 'Валера': 0}
print(dict_sample)

{'Наташа': 2, 'Алина': 3, 'Марат': 15, 'Лев': 1, 'Валера': 0}

Добавьте в словарь из предыдущего задания данные для студента Ромы, который работает неполный рабочий день, и, придя на работу после экзамена, с удовольствием съел 4 конфеты

In [ ]:
dict_sample['Рома'] = 4
print(dict_sample)

{'Наташа': 2, 'Алина': 3, 'Марат': 15, 'Лев': 1, 'Валера': 0, 'Рома': 4}

Выведите на экран следующий паттерн:

@

@ @

@ @ @

@ @ @ @ @

Обратите внимание на пробел между символами

In [ ]:
def at(s, n):
  for i in range(n):
    print(s, end = ' ')
  print()

at('@', 1)
at('@', 2)
at('@', 3)
at('@', 5)

@
@ @
@ @ @
@ @ @ @ @

Используя цикл while, выведите на экран таблицу умножения для числа 7

In [ ]:
a=int(input())
b=int(input())
def table_multiply(a, b):
    i = 1
    while i < b + 1:
      print(f'{a} * {i} = {a * i}')
      i += 1
table_multiply(a,b)

7
15
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
7 * 13 = 91
7 * 14 = 98
7 * 15 = 105